/* Basic configuration  */

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
}

body * {
    box-sizing: border-box;
}

section {
    background-size: cover;
    
}

.container {
    max-width: 1263px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

div {
    /* border: 1px dashed red; */
}

.overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.headline {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    font-family: inherit;
    font-style: italic;
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
}

.price {
    font-family: Yeseva One;
    align-items: center;
    background: #E3B873;
    color: #ffffff;
    text-transform: uppercase;
    box-sizing: border-box;
}

@media (max-width:1300px){
    .container {
        margin: 0 auto;
        max-width: 340px;
        padding-left: 18px;
        padding-right: 18px;
    }
 }

.logo {
    color: #E3B873;
    text-transform: uppercase;
}




/* Projects page */

.projects {
    background-color: black;
    padding-top: 99px;
    padding-bottom: 50px;
    height: 1072px;
}

.projects-photos {
    list-style: none;
    display: flex;
    margin-left: 540px;
}

.projects-photos__item {
    margin-right: 42px;
}

.projects-photos__item a {
    text-decoration: none;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.projects-photos__item .item-active {
    color: #E3B873;
    padding-bottom: 7px;
    border-bottom: 2px solid #E3B873;
}

/* .projects-photos__item a:hover{
    color: #E3B873;
    padding-bottom: 7px;
    border-bottom: 2px solid #E3B873;
} */

.projects-title {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;

    color: #E3B873;
}

.projects-text {
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.projects-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 201px;
    
}

.projects-description_row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

.projects-description__item {
    width: 180px;
    height: 100px;   
}

.projects-description__item h3 {
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
    text-align: left;
}

.projects-description__item span {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.projects-inner-container {
    display: flex;
    justify-content: space-between;
}

.projects-inner-text {
    
    width: 100%;
    max-width: 442px;
    
}

.projects-image {
    width: 679px;
    height: 482px;
    margin-top: 32px;
}

.projects-block__mob {
    position: relative;
    z-index: 1;
}

.projects-buttons__mob {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    max-width: 341px;
    top: 40%;
}

.projects-button {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    z-index: 2;
    padding: 0;
    align-items: center;
    justify-content: center;
    
}

.projects-navigation {
    margin-top: 80px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: white;
    align-items: center;
    text-align: center;
}

.projects-navigation span, button {
    cursor: pointer;
}

.projects-navigation-arrow {
    font-size: 42px;
}

.projects-navigation-item {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
}

.dot-active {
    background: #FFFFFF;
}

/* .projects-navigation-item:hover {
    background: #FFFFFF;
} */

.projects-buttons {
    background-color: black;
    border: none;
}

@media (max-width:1300px){
    .projects{
        height: 100%;
    }
    .projects-photos, .projects-image, .projects-navigation {
        display: none;
    }
    .projects-title, .projects-text{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 22px;
    }
    .projects-text{
        height: 86px;
        width: 100%;
        max-width: 341px;
        font-size: 11px;
        line-height: 158.48%;
     }
     .projects-description {
        height: auto;
    }
    .projects-description__item span{
        height: 86px;
        width: 100%;
        max-width: 341px;
        font-size: 11px;
        line-height: 158.48%;
     }
     .projects-title {
        height: 66px;
        width: 253px;
        font-size: 22px;
        line-height: 138.6%;
     }
     .projects-description__item h3 {
        height: 20px;
        width: fit-content;
        font-size: 14px;
        line-height: 138.6%;
        
     }

     .projects-description__item {
        height: auto;
     }
     .projects-inner-container{
        padding-top: 0;
        width: 100%;
        max-width: 340px;
    }
    .projects-image__mob{
        width: 100%;
        max-width: 340px;
    }
    
    
}

@media (min-width:1300px){
    .projects-block__mob{
        display: none;
    }
}

